$primary-color: #2e878a;
body {
  color: $primary-color;
}

#blocker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#container {
  background: linear-gradient(
    0deg,
    rgba(63, 194, 19, 1) 0%,
    rgba(21, 219, 217, 1) 42%,
    rgba(241, 123, 207, 1) 100%
  );
}
